:root {
  background: #f0f2f7;
}

.menu_info {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  padding: 30px;
  background: #fafafa;
}

.menu_info .info_comment {
  font-size: 18px;
  line-height: 1.5em;
}

.menu_info .btn_area {
  overflow: hidden;
  text-align: right;
}

.menu_info .btn_area > button {
  border-radius: 0;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_info .btn_area > button + .btn-group {
  width: 122px;
  margin-top: 5px;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #7d7d7d;
}

.table thead th {
  border-top: 1px solid #7d7d7d;
  font-size: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}

.table tbody td {
  border-top: 1px solid #d9d9d9;
  color: #5b5a5a;
  padding-top: 18px;
  padding-bottom: 18px;
}

.write_style1 {
  overflow: visible;
  border-bottom: 1px solid #7d7d7d;
  position: relative;
}

.write_style1 .comment_board {
  position: absolute;
  right: 0;
  top: -30px;
}

.write_style1 .comment_board .i_required {
  display: inline-block;
  margin-right: 5px;
  height: 9px;
  width: 11px;
  color: #0A71CC;
}

.table-grid  {
  border-top: 2px solid #7d7d7d;
}

.table-grid tr th {
  text-align: center;
  border-top: 1px solid #d9d9d9;
}

.btn_write {
  margin-top: 50px;
  overflow: hidden;
}

.write_style1 .table-grid tr td span {
  display: block;
}

.write_style1 table {
  width: 100%;
  table-layout: fixed;
}

.write_style1 tr:first-child th,
.write_style1 tr:first-child td {
  border-top: 1px solid #7d7d7d;
}

.write_style1 tr th,
.write_style1 tr td {
  border-top: 1px solid #d9d9d9;
  padding: 10px 30px;
}

.write_style1 tr th .i_required {
  color: #0A71CC;
}

.write_style1 input[type="text"],
.write_style1 input[type="password"],
.write_style1 select {
  background-color: #fcfcfc;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  height: 31px;
}

.write_style1 textarea {
  background-color: #fcfcfc;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  padding: 5px;
  width: 100%;
}

.btn-default {
  color: #636b6f;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
  color: #636b6f;
  background-color: #e6e5e5;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #636b6f;
  background-color: #e6e5e5;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #636b6f;
  background-color: #e6e5e5;
  border-color: #adadad;
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #636b6f;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}

.btn-default .badge {
  color: #fff;
  background-color: #636b6f;
}

.select_document {
  overflow: hidden;
  margin-bottom: 50px;
  border-top: 1px solid #000;
}

.select_document .view_style1 {
  border-bottom: 1px solid #d3d3d3;
}

.select_document .view_style1 tbody tr:first-child th,
.select_document .view_style1 tbody tr:first-child td {
  border-top: none;
}

.select_document .view_style1 tbody th,
.select_document .view_style1 tbody td {
  border-top: 1px solid #f4f4f4;
  border-bottom: none;
  vertical-align: top;
  padding-top: 14px;
  padding-bottom: 14px;
}

.select_document .view_style1 tbody td {
  padding-left: 30px;
}

.select_document .faq_select {
  overflow: hidden;
  margin-bottom: 5px;
}

.select_document .faq_select select {
  width: 285px;
}

.select_document .faq_select .search {
  overflow: hidden;
}

.select_document .search {
  overflow: hidden;
  margin-bottom: 5px;
}

.select_document .search * {
  float: left;
}

.select_document .search * + * {
  margin-left: 5px;
}

.select_document .search input[type="text"] {
  width: 244px;
}

.view_style1 {
  overflow: hidden;
}

.view_style1 table {
  table-layout: fixed;
}

.view_style1 thead th,
.view_style1 thead td {
  font-size: 14px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.view_style1 thead th {
  padding-left: 30px;
}

.view_style1 thead td {
  color: #5b5a5a;
}

.view_style1 thead tr:first-child th,
.view_style1 thead tr:first-child td {
  border-top: 1px solid #7d7d7d;
}

.view_style1 thead tr ~ tr th,
.view_style1 thead tr ~ tr td {
  border-top: 1px solid #d9d9d9;
}

.view_style1 tbody th {
  text-align: left;
  padding-left: 30px;
}

.view_style1 tbody td {
  overflow: hidden;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #7d7d7d;
  font-size: 14px;
  padding: 30px;
}

.view_style1 tbody td strong {
  font-weight: 500;
}

.view_style1 tbody td img {
  display: block;
  max-width: 100%;
}

.view_style1 iframe {
  height: 480px;
  width: 100%;
}

.view_style1 .btn_area {
  margin-top: 50px;
}

.view_style1 input[type="text"],
.view_style1 input[type="password"],
.view_style1 select {
  background-color: #fcfcfc;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  height: 31px;
}

.choice-wrapper,
.form-check-label {
  vertical-align: top;
  position: relative;
  padding-left: 20px;
}

.form-check-label input {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.choice-wrapper input {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}